/* Estilos para ocultar las flechas de incremento/decremento en los input de tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Desactiva la apariencia predeterminada */
    margin: 0; /* Establece el margen a cero */
}

/* Estilos generales del cuerpo de la página */
body {
    background: url(../assets/background.gif); /* Fondo de pantalla */
    background-attachment: fixed; /* Fondo de pantalla fijo */
    background-size: cover; /* Fondo de pantalla que se ajusta al tamaño del cuerpo */
    background-repeat: no-repeat; /* Fondo de pantalla no repetido */
    margin: 0; /* Eliminar el margen predeterminado del cuerpo */
    padding: 0; /* Eliminar el relleno predeterminado del cuerpo */
    overflow: hidden; /* Evita el desplazamiento horizontal */
}

/* Contenedor del loader */
#loader-container {
    position: fixed; /* Posición fija */
    top: 0; /* Desde la parte superior */
    left: 0; /* Desde la parte izquierda */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    background-color: #f8f8f8; /* Color de fondo */
    display: flex; /* Flexbox para centrar contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

/* Animación del loader */
#loader {
    border: 16px solid #f3f3f3; /* Borde del loader (gris claro) */
    border-top: 16px solid #3498db; /* Borde superior del loader (azul) */
    border-radius: 50%; /* Borde redondeado */
    width: 120px; /* Ancho del loader */
    height: 120px; /* Altura del loader */
    animation: spin 2s linear infinite; /* Animación de rotación */
}

/* Animación de rotación */
@keyframes spin {
    0% { transform: rotate(0deg); } /* Rotación inicial */
    100% { transform: rotate(360deg); } /* Rotación completa */
}

/* Estilos para el encabezado */
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Fuente */
    font-weight: lighter; /* Grosor de la fuente */
    font-size: 50px; /* Tamaño de la fuente */
    color: aliceblue; /* Color del texto */
    word-spacing: 7px; /* Espacio entre palabras */
    letter-spacing: 7px; /* Espacio entre letras */
    text-transform: uppercase; /* Transformación de texto a mayúsculas */
    text-align: center; /* Alineación del texto */
    display: flex; /* Flexbox para alinear contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-top: 50px; /* Margen superior */
}

/* Contenedor principal */
.container {
    display: flex; /* Flexbox para alinear contenido */
    background: transparent; /* Fondo transparente */
    height: 381px; /* Altura del contenedor */
}

/* Parte del marcador */
aside {
    margin-top: 150px; /* Margen superior */
    margin-left: 75px; /* Margen izquierdo */
    border-radius: 10px; /* Borde redondeado */
    background-color: rgb(162, 162, 162); /* Color de fondo */
    padding-bottom: 10px; /* Espaciado inferior */
}

/* Contenido del marcador */
.background-content {
    border-radius: 10px; /* Borde redondeado */
    background: url(../assets/background-border.jpeg); /* Fondo con imagen */
    background: linear-gradient(180deg, rgb(55, 3, 103),rgb(91, 8, 91)); /* Fondo con degradado lineal */
    margin-left: 7px; /* Margen izquierdo */
    margin-right: 7px; /* Margen derecho */
    padding-bottom: 1%; /* Espaciado inferior */
}

/* Texto del marcador */
.p-score {
    padding-top: 15px; /* Espaciado superior */
    text-align: center; /* Alineación del texto */
    display: flex; /* Flexbox para alinear contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-top: 7px; /* Margen superior */
    font-size: 30px; /* Tamaño de la fuente */
    font-family: 'Courier New', Courier, monospace; /* Fuente */
    font-weight: normal; /* Grosor de la fuente */
    letter-spacing: 1px; /* Espaciado entre letras */
    color: aliceblue; /* Color del texto */
}

/* Estilo del marcador */
.score {
    margin-left: 25px; /* Margen izquierdo */
    margin-right: 25px; /* Margen derecho */
    padding-left: 7px; /* Espaciado izquierdo */
    color: gainsboro; /* Color del texto */
    font-family: 'Courier New', Courier, monospace; /* Fuente */
    font-weight: bold; /* Grosor de la fuente */
}

/* Parte principal del juego */
main {
    margin-left: 75px; /* Margen izquierdo */
    margin-top: 45px; /* Margen superior */
    flex-grow: 1; /* El contenido se expandirá para ocupar el espacio restante */
}

/* Imágenes */
#images img {
    margin-top: 55px; /* Margen superior */
    clip-path: inset(0px 0px 0px 0px); /* Recorte de la imagen */
    height: 542px; /* Altura de la imagen */
    overflow: hidden; /* Ocultar desbordamiento */
    display: block; /* Mostrar como bloque */
    transition: opacity 0,5s ease-in-out; /* Transición de opacidad */
}

/* Input de adivinar número */
.guess-number {
    position: absolute; /* Posición absoluta */
    top: 314px; /* Desde la parte superior */
    left: 673px; /* Desde la parte izquierda */
    outline: none; /* Sin contorno */
    background: none; /* Fondo transparente */
    border: none; /* Sin borde */
    border-bottom: 1px solid rgb(0, 1, 1); /* Borde inferior */
    font-size: 16px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    width: 167px; /* Ancho del input */
    padding-bottom: 3px; /* Espaciado inferior */
    border-radius: 1000px; /* Borde redondeado */
    background-color: rgba(8, 100, 109, 0.199); /* Color de fondo */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fuente */
    font-weight: lighter; /* Grosor de la fuente */
    font-size: 33px; /* Tamaño de la fuente */
    color: rgb(85, 10, 132); /* Color del texto */
    letter-spacing: 3px; /* Espaciado entre letras */
    text-transform: uppercase; /* Transformación de texto a mayúsculas */
    text-align: center; /* Alineación del texto */
}

/* Imágenes con clase 'show' */
#images img.show {
    opacity: 1; /* Opacidad completa */
}

/* Botón de nuevo número */
#new-number {
    position: absolute; /* Posición absoluta */
    top: 304px; /* Desde la parte superior */
    left: 670px; /* Desde la parte izquierda */
    outline: none; /* Sin contorno */
    background: none; /* Fondo transparente */
    border: none; /* Sin borde */
    border-bottom: 1px solid rgb(0, 1, 1); /* Borde inferior */
    text-align: center; /* Alineación del texto */
    width: 177px; /* Ancho del botón */
    padding-bottom: 3px; /* Espaciado inferior */
    border-radius: 20px; /* Borde redondeado */
    background-color: rgb(255, 255, 255); /* Color de fondo */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fuente */
    font-weight: lighter; /* Grosor de la fuente */
    font-size: 27px; /* Tamaño de la fuente */
    color: rgb(85, 10, 132); /* Color del texto */
    letter-spacing: 3px; /* Espaciado entre letras */
    text-transform: uppercase; /* Transformación de texto a mayúsculas */
    text-align: center; /* Alineación del texto */
} 

@media (max-width: 2720px) {
    main {
        margin-left: 225px;
        margin-top: 200px;
    }

    #images img {
        max-width: 200%;
        height: 1000px;
        margin-top: 20px;
    }

    .input-container {
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    .guess-number {
        top: 530px; /* Desde la parte superior */
        left: 1015px; /* Desde la parte izquierda */
        width: 250%;
        max-width: 500px;
        font-size: 100px;
        height: 100px;
    }

    #new-number {
        top: 530px; /* Desde la parte superior */
        left: 1015px; /* Desde la parte izquierda */
        width: 250%;
        max-width: 500px;
        font-size: 50px;
        height: 100px;
    }
    @media (max-width: 1440px) {
        main {
            margin-left: 200px;
            margin-top: 20px;
        }
    
        #images img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    
        .input-container {
            width: 100%;
            align-items: center;
            margin-top: 10px;
        }
    
        .guess-number {
            width: 90%;
            max-width: 250px;
            font-size: 25px;
        }
    
        .new-number {
            width: 90%;
            max-width: 250px;
            font-size: 22px;
            top: -25px;
        }
    }
}